click==3.1
dateutils==0.6.6
Flask-Views==0.2.1
Flask-WTF==0.10.0
Flask
freeze-requirements==0.4.2
gevent==1.0.1
greenlet==0.4.3
hsaudiotag==1.1.1
ipython==7.16.3
itsdangerous==0.24
Jinja2
MarkupSafe==0.23
mimerender==0.5.4
mongoengine==0.8.7
mutagen==1.24
ordereddict==1.1
pip-tools==0.3.5
pymongo==2.7.2
python-dateutil==2.2
python-mimeparse==0.1.4
pytz==2014.4
sh==1.09
six==1.7.3
walkdir==0.3
Werkzeug==3.0.3
WTForms==2.0.1
