body.audio {
    background-color: #000;
    color: #3a87ad;
}

h1 {
    font-size: 48px;
}
video { border: 1px solid black; }
.audio-container {
    display: block;
    width: 780px;
    height: 780px;
}
