<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>ChromeCaster</title>
    <script src="/static/verge.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="audio">
    <h1>{{ record.filename }}</h1>
    <div class="audio-container" id="audio-container">
     <audio src="/audiofile/{{ record.file_key }}" controls autoplay loop>
        <p>Your browser does not support the audio element </p>
     </audio>
    </div>
  </body>
</html>​
