<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ChromeCaster</title>
      <script src="/static/verge.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <header class="row">
        <h3 class="col-md-6">Audio Files</h3>
        <h3 class="col-md-6">Video Files</h3>
    </header>
    <div id="file-list" class="row">
        <div id="audio" class="col-md-6">
            {% for audiofile in audiofiles %}
                <ul>
                    <li><a href="/audio/{{ audiofile.file_id }}">{{ audiofile.tags.artist }}: {{ audiofile.tags.title }}</a></li>
                </ul>
            {% endfor %}
        </div>
        <div id="video" class="col-md-6">
            {% for video in videofiles %}
                <ul>
                    <li><a href="/video/{{ video.file_key }}">{{ video.tags.artist }}: {{ video.tags.title }}</a></li>
                </ul>
            {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>​
